$color: red;
$col: 25;
$num: 10px;

h1{
	color:$color;
}

@for $i from 1 through $col{
	.col-#{$i}{
		width: 100%/$col*$i;
	}
	.push-#{$i}{
		margin-left: 100%/$col*$i;
	}

}

p{
	color:darken($color, 20%);
}

div{
	color:lighten($color, 30%);
	margin: ($num)-4;
}

p{
	padding: $num/2;
}

// p { @include sexy-border($color: blue); }

p{
	shadow-box: 1px $num $num*2 $color;
}

.container { width: 100%; }

article[role="main"] {
  float: left;
  width: 600px / 960px * 100%;
}

aside[role="complimentary"] {
  float: right;
  width: 300px / 960px * 100%;
}