h1 {
  color: red;
}

.col-1 {
  width: 4%;
}

.push-1 {
  margin-left: 4%;
}

.col-2 {
  width: 8%;
}

.push-2 {
  margin-left: 8%;
}

.col-3 {
  width: 12%;
}

.push-3 {
  margin-left: 12%;
}

.col-4 {
  width: 16%;
}

.push-4 {
  margin-left: 16%;
}

.col-5 {
  width: 20%;
}

.push-5 {
  margin-left: 20%;
}

.col-6 {
  width: 24%;
}

.push-6 {
  margin-left: 24%;
}

.col-7 {
  width: 28%;
}

.push-7 {
  margin-left: 28%;
}

.col-8 {
  width: 32%;
}

.push-8 {
  margin-left: 32%;
}

.col-9 {
  width: 36%;
}

.push-9 {
  margin-left: 36%;
}

.col-10 {
  width: 40%;
}

.push-10 {
  margin-left: 40%;
}

.col-11 {
  width: 44%;
}

.push-11 {
  margin-left: 44%;
}

.col-12 {
  width: 48%;
}

.push-12 {
  margin-left: 48%;
}

.col-13 {
  width: 52%;
}

.push-13 {
  margin-left: 52%;
}

.col-14 {
  width: 56%;
}

.push-14 {
  margin-left: 56%;
}

.col-15 {
  width: 60%;
}

.push-15 {
  margin-left: 60%;
}

.col-16 {
  width: 64%;
}

.push-16 {
  margin-left: 64%;
}

.col-17 {
  width: 68%;
}

.push-17 {
  margin-left: 68%;
}

.col-18 {
  width: 72%;
}

.push-18 {
  margin-left: 72%;
}

.col-19 {
  width: 76%;
}

.push-19 {
  margin-left: 76%;
}

.col-20 {
  width: 80%;
}

.push-20 {
  margin-left: 80%;
}

.col-21 {
  width: 84%;
}

.push-21 {
  margin-left: 84%;
}

.col-22 {
  width: 88%;
}

.push-22 {
  margin-left: 88%;
}

.col-23 {
  width: 92%;
}

.push-23 {
  margin-left: 92%;
}

.col-24 {
  width: 96%;
}

.push-24 {
  margin-left: 96%;
}

.col-25 {
  width: 100%;
}

.push-25 {
  margin-left: 100%;
}

p {
  color: #990000;
}

div {
  color: #ff9999;
  margin: 6px;
}

p {
  padding: 5px;
}

p {
  shadow-box: 1px 10px 20px red;
}

.container {
  width: 100%;
}

article[role="main"] {
  float: left;
  width: 62.5%;
}

aside[role="complimentary"] {
  float: right;
  width: 31.25%;
}
